<div class="bg-mist/50 p-4 rounded">
  <h3>Openordú</h3>
  <p>The Openordú Project is a public resource guide supporting the practice of Celtic Paganism. Inspired by the Open Siddur project, it aims to create a free software toolkit and a text-base to generate a comprehensive website. It encourages sharing, learning, and the development of Celtic culture. Its components include source texts, praxes, and a user-friendly website interface. Open to contributors, the project also plans to build a Public Celtic Encyclopedia with a focus on practical application over theory.</p>
</div>

<div class="p-4 mt-5 border-t">
  <h3>Tag List</h3>
  <p>
    {% include 'snippets/tagslist.njk' %}
  </p>
</div>