{% for category in collections.catList %}
  {% set catUrl %}/tags/{{ category.catName | slugit }}/{% endset %}
  <a href="{{ '/category/' | url }}{{ category.catName | slugit }}" class="inline-flex items-center justify-center rounded border border-earth px-3 py-1 text-sm text-ink hover:bg-earth hover:text-bone mr-2 my-2">{{ category.catName }}
    <span class="ml-1 inline-flex items-center rounded-full bg-ink px-2 py-0.5 text-xs text-bone">
    {{ category.catCount }}
    </span>
  </a>
{% endfor %}