<a href="{{ vcsurl or site.vcsurl }}/edit/{{ vcsbranch or site.vcsbranch }}/{{ page.inputPath | replaceString("./", "") }}" class="inline-flex items-center justify-center rounded bg-moss px-3 py-1 text-sm font-semibold text-bone hover:bg-peat"><i class="fa fa-pencil"></i> Edit this page</a>