  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{ metadata.description }}">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ '/assets/green_logo.png' | url }}">
  <meta name="author" content="{{ metadata.author }}">
  <meta name="generator" content="11straps">
  <meta name="HandheldFriendly" content="true"/>
  <title>{{ title or metadata.title }}</title>
  <!-- build:css -->
  <link rel="stylesheet" href="{{ '/css/theme.min.css' | url }}">
  <!-- endbuild -->
  <script src="https://kit.fontawesome.com/88f31a8dcd.js" crossorigin="anonymous"></script>