{% include 'snippets/breadcrumbs.njk' %}

<header class="mt-4">
      {# <a name="{{ title | slugify }}" href="#{{ title | slugify }}"><h1 class="display-1 link-fancy">{{ title }}</h1></a> #}
      {% if icon %}
      <i class="text-5xl font-semibold tracking-tight fa-{{ site.fatheme }} fa-{{ icon }} float-left pl-0 ml-0"></i>
      {% endif %}
      <a name="{{ page.fileSlug }}"><h1 class="pagetitle">{{ title or page.fileSlug | slugify({separator:' ', lowercase: false}) | title }}</h1></a>
</header>

{# {% include 'snippets/toc.njk' %} #}

{{ content | safe }}
{#
{% include 'snippets/breadcrumbs.njk' %}

{% include 'snippets/editthispage.njk' %}

{% include 'snippets/prevnext-alpha.njk' %}
#}