<div class="grid grid-cols-12">
  {%- for post in posts %}
    <div class="md:col-span-6 py-3 border-b">
      <a href="{{ post.url | url }}" class="link-fancy"><h2 class="text-5xl font-semibold tracking-tight">{{ post.data.title}}</h2></a>
      <p>Published
        <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
      </p>
      <p>
      {% for tag in post.data.tags | filterTagList %}
        {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
        <a href="{{ tagUrl | url }}" class="inline-flex items-center justify-center rounded border border-earth px-3 py-1 text-sm text-ink hover:bg-earth hover:text-bone mr-2">{{ tag }}</a>
      {% endfor %}
    </p>
      <p>{{ post.data.summary }}</p>
      <a href="{{ post.url | url }}" class="link-fancy">Read more...</a>
    </div>
  {% if loop.index % 2 == 0 %}
    </div>
    <div class="grid grid-cols-12">
  {% endif %}
  {% endfor %}
</div>

<div class="grid grid-cols-12 justify-center">
  <div class="mt-4 col-span-12">
    <div class="grid grid-cols-12 justify-between">
      <div class="col-span-6">
        {% if pagination.href.previous %}
          <a href="{{pagination.href.previous}}" class="inline-flex items-center justify-center rounded border border-moss px-4 py-2 font-semibold text-ink hover:bg-moss hover:text-bone"> <i class="fa-solid fa-arrow-left"></i> Previous Page</a> {% endif %} </div> <div class="col-span-6 text-right"> {% if pagination.href.next %} <a href="{{pagination.href.next}}" class="inline-flex items-center justify-center rounded border border-moss px-4 py-2 font-semibold text-ink hover:bg-moss hover:text-bone">Next Page <i class="fa-solid fa-arrow-right"></i></a>
        {% endif %}
      </div>
    </div>
  </div>
</div>