<article>
  <header class="border-b pb-4 mb-4">
    <h1 class="text-5xl font-semibold tracking-normal">{{ title }}</h1>
    {% block extraArticleHeader %}
      {% set wc = content | striptags | wordcount %}
      {% set wPerMinute = (wc / 240) + 1 %}
      {% set dysWordPerMinute = (wc / 100) + 1 %}
      <p class="mt-1"><span>
      {% if contributors %}<span data-bs-toggle="tooltip" data-bs-placement="top" title="Contributors"><i class="icon fa-solid fa-user-plus"></i>{% for contributor in contributors %}{% if loop.index > 1 %}, {% endif %}{{ contributor }}{% endfor %}</span>{% endif %}
      <span>
        <i class="icon fa-solid fa-clock" data-bs-toggle="tooltip" data-bs-placement="top" title="Last modified"></i>
        <time data-bs-toggle="tooltip" data-bs-placement="top" id="last-modified" 
              datetime="{{ date }}" title="{{ (date or (page.inputPath | fileModifiedDate)) | date('yyyy-MM-dd HH:mm:ss') }}">
          {{ (date or (page.inputPath | fileModifiedDate)) | date('yyyy-MM-dd HH:mm:ss') }}
        </time>
      </span>
      <span class="reading-time" data-bs-toggle="tooltip" data-bs-placement="top" title="Reading time"><i class="icon fa-solid fa-hourglass-start"></i> about {{ content | readingTime }} minutes</span>
      </span></p>
      <script src="/js/timeAgo.js"></script>
      {%- for tag in tags | filterTagList -%}
        {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset -%}
        <a href="{{ tagUrl | url }}" class="inline-flex items-center justify-center rounded border border-gold px-3 py-1 text-sm text-moss hover:bg-gold/10 mr-2">{{ tag }}</a>
      {%- endfor %}

    {% endblock %}
  </header>
  <p class="text-lg leading-relaxed">
    {{ summary }}
  </p>
  {{ content | safe }}
</article>