{% set toc = content | safe | extractHeadings %}

{% if toc %}
  <aside id="headings" class="mx-2 mb-1 px-3 py-1 bg-mist/50 float-right w-72 overflow-auto">
    <h3>Contents</h3>
    <div id="toc" class="pl-1 truncate">
      {{ toc | safe }}
    </div>
  </aside>
{% endif %}