<!doctype html>
<html class="h-full" lang="{{ metadata.language }}">

  <head>
    {% include 'snippets/head.njk' %}
  </head>

  <body>

    {% include 'snippets/navbar.njk' %}

    <main class="mx-auto w-full max-w-6xl px-4 py-vh-5">
      <div class="grid grid-cols-12 justify-center">
        <div class="col-span-12">
          <header class="py-4">
            <h1 class="text-5xl font-semibold tracking-tight">{{ title }}</h1>

            <hr/>
            <p class="text-lg leading-relaxed">
              {{ description }}
            </header>
          </p>
          <div class="rounded-t border p-4">
            {{ content | safe }}
</div>
          <div class="bg-mist/50 rounded border border-t-0 p-4">
                <code><xmp class="w-auto font-monospace" style="overflow-x:scroll;">{{ content | safe}}</xmp></code>
          </div>
        </div>
      </div>
    </main>

    <footer class="mx-auto w-full max-w-6xl px-4">
      {% include 'snippets/footer.njk' %}
    </footer>

  </body>

</html>