<!doctype html>
<html class="h-full" lang="{{ metadata.language }}">

  <head>
    {% include 'snippets/head.njk' %}
  </head>

  <body class="h-full">
    <div id="progress"></div>
    <div id="splash-screen">
      <img id="splashlogo" src="/assets/green_logo.png" />
    </div>

    {% include 'snippets/navbar-with-side.njk' %}

    <main class="mx-auto w-full max-w-6xl px-4">
      <div>
        <div class="grid grid-cols-12 justify-center">
            <div class="aside col-span-12 md:col-span-3 flex shrink-0 bg-peat-2">
              {% include 'snippets/sidebar.njk' %}
            </div>
            <div id="main" class="main col-span-12 md:col-span-9 pb-5">
              {% include 'snippets/maincontent-details.njk' %}
            </div>
        </div>
      </div>
    </main>

    <footer class="text-center lg:text-left bg-peat/60 text-mist pt-1">
      {% include 'snippets/footer.njk' %}
    </footer>

    {% include 'snippets/v5-motion.njk' %}
  </body>

</html>
