<!doctype html>
<html class="h-full" lang="{{ metadata.language }}">

  <head>
    {% include 'snippets/head.njk' %}
  </head>

  <body>

    {% include 'snippets/navbar.njk' %}

    <main>
      {{ content | safe }}
    </main>

    <footer class="text-center lg:text-left bg-mist/50 text-ink/50 pt-1">
      {% include 'snippets/footer.njk' %}
    </footer>

  </body>

</html>