<!doctype html>
<html class="h-full" lang="{{ metadata.language }}">

  <head>
    {% include 'snippets/head.njk' %}
  </head>

  <body>
    <div id="progress"></div>

    {% include 'snippets/navbar.njk' %}

    <main>
      {{ content | safe }}
    </main>

    <footer class="text-center lg:text-left bg-peat/60 text-mist pt-1">
      {% include 'snippets/footer.njk' %}
    </footer>

    {% include 'snippets/v5-motion.njk' %}
  </body>

</html>