<!doctype html>
<html class="h-full" lang="{{ metadata.language }}">

  <head>
    {% include 'snippets/head.njk' %}
  </head>

  <body class="h-full">

    {% include 'snippets/navbar-with-side.njk' %}

    <main class="mx-auto w-full max-w-6xl px-4">
      <div>
        <div class="grid grid-cols-12 justify-center">
            <div class="aside col-span-12 sm:col-span-3 shrink-0 p-2 bg-peat-2">
              {% include 'snippets/sidebar.njk' %}
            </div>
            <div id="main" class="main col-span-12 sm:col-span-9 pb-5">
              {% include 'snippets/maincontent.njk' %}
            </div>
            {# <div id="result" class="text-center mt-4"></div>
            <button id="nextBtn" class="inline-flex items-center rounded bg-moss px-4 py-2 text-bone mt-4">Next</button> #}
        </div>
      </div>
    </main>

    <footer class="mx-auto w-full max-w-6xl px-4">
      {% include 'snippets/quiz-footer.njk' %}
    </footer>
  </body>

</html>