---
layout: layouts/home.njk
title: Home
order: -99
icon: house
---

<div class="container my-vh-6">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-lg-8 my-4 text-center">
      <h1 class="display-1">
        Welcome to the
        <strong>OpenOrdú</strong>
        project website!
      </h1>
      <p class="lead mb-4">
        Combining our rich past with modern technology.
      </p>
      <p><img src="/assets/green_logo.png" alt="{{ metadata.title }}, {{ metadata.description }}" style="width: 21em;" class="float-left my-2 me-3 gradient-rounded"></p>
      <a class="btn btn-primary px-5 py-3 me-4 position-relative" href="https://gumroad.com/l/WPeVF" target="_blank" rel="noopener" >Contribute
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning text-dark">v0.2<span class="visually-hidden">latest version</span></span></a>
      <a class="link-fancy py-2" href="https://github.com/openordu/">Check us out on Github
      </a>
    </div>
  </div>
</div>

<div class="wrapper features">
  <div class="container">
    <div class="row">
      <div class="mb-2 col-sm-12 col-md-4 ma-1">
        <a href="/license/" class="text-decoration-none" role="navigation">
          <div class="h-100 py-2 px-2 shadow-sm bg-light">
            <div class="d-flex align-items-center mb-3 mx-1">
              <span class="icon fa-solid fa-id-card"></span>
              <h3 class="ms-2">Open License</h3>
            </div>
            <p>All cultural intellectual properties contributed are open licensed.</p>
          </div>
        </a>
      </div>
      <div class="mb-2 col-sm-12 col-md-4 ma-1">
        <a href="https://github.com/openordu/pce/commits/main" class="text-decoration-none" role="navigation" target="_blank">
          <div class="h-100 py-2 px-2 shadow-sm bg-light">
            <div class="d-flex align-items-center mb-3 mx-1">
              <span class="icon fa-solid fa-copyright"></span>
              <h3 class="ms-2"> Glory to the Empire!</h3>
            </div>
            <p>Under license and git version control, credit for even small contributions are minutely preserved. Never have your work stolen.</p>
          </div>
        </a>
       </div>
      <div class="mb-2 col-sm-12 col-md-4 ma-1">
        <a href="/public-celtic-encyclopedia/bibliography.md" class="text-decoration-none" role="navigation">
          <div class="h-100 py-2 px-2 shadow-sm bg-light">
            <div class="d-flex align-items-center mb-3 mx-1">
              <span class="icon fa-solid">💡</span>
              <h3 class="ms-2">Accurate information</h3>
            </div>
            <p>The open-source process is basically continual peer-review.</p>
          </div>
        </a>
      </div>
    </div>
<!-- Add more rows with .col-sm-12 col-md-4 h-100 py-2 px-2 shadow-sm bg-light divs for each feature -->
    <div class="row">
      <div class="mb-2 col-sm-12 col-md-4 ma-1">
        <a href="/docs/" class="text-decoration-none" role="navigation">
          <div class="h-100 py-2 px-2 shadow-sm bg-light">
            <div class="d-flex align-items-center mb-3 mx-1">
              <span class="icon fa-solid">🔁</span>
              <h3 class="ms-2">Reuse anything</h3>
            </div>
            <p>Under license, you can make and distribute variations.</p>
          </div>
        </a>
      </div>
      <div class="mb-2 col-sm-12 col-md-4 ma-1">
        <a href="https://github.com/openordu/pce/fork" class="text-decoration-none" role="navigation" target="_blank">
          <div class="h-100 py-2 px-2 shadow-sm bg-light">
            <div class="d-flex align-items-center mb-3 mx-1">
              <span class="icon fa-solid fa-code-branch"></span>
              <h3 class="ms-2">Get Forked!</h3>
            </div>
            <p>Under license, you can take and modify this work and use it in your coven or grove. Go fork yourself a tradition.</p>
          </div>
        </a>
      </div>
      <div class="mb-2 col-sm-12 col-md-4 ma-1">
        <a href="/docs/editing/" class="text-decoration-none" role="navigation">
          <div class="h-100 py-2 px-2 shadow-sm bg-light">
            <div class="d-flex align-items-center mb-3 mx-1">
              <span class="icon fa-brands fa-markdown"></span>
              <h3 class="ms-2">Markdown Content</h3>
            </div>
            <p>Built upon markdown, the 'code' is lightweight text and easier to write than html.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
{# 
<div class="wrapper position-relative my-vh-5 bg-light">
  <div class="bg-white w-50 h-100 position-absolute d-none d-lg-block"></div>
  <div class="container position-relative py-vh-4">
    <div class="row justify-content-between d-flex align-items-stretch py-vh-2">
      <div class="col-12 col-lg-5">
        <h2 class="h2">Open source & free</h2>
        <p>OpenOrdú is an open source project released under our own license. Everything here is free for everyone. You are welcome to train, contribute and improve it or use it even for commercial projects.</p>
      </div>
      <div class="col-12 col-lg-5 py-vh-1">
        <h2>OpenSource + Culture = <span class="icon">💪</span></h2>
        <p>11straps come´s with the static site generator Eleventy and the CSS framework Bootstrap 5 in it. It combines both via npm and Gulp and adds some dev and build magic to it. This website itself is also included as example.</p>
      </div>
      <div class="col-12 col-lg-5 py-vh-1">
        <h2>Local server & Browser Sync</h2>
        <p>11straps includes a dev build process with a local server and browser sync. Everything you need for your local live dev environment.</p>
      </div>
      <div class="col-12 col-lg-5 py-vh-1">
        <h2>Minified and purged output</h2>
        <p>Once you are done with your local development it´s time for a prod build. The 11straps prod output is a minified HTML site with a minified and purged CSS file and optimized assets. Thats it. Just a clean, fast and static website will come out.</p>
      </div>
    </div>
  </div>
</div> #}


<div class="container">
  <div class="row py-5 border-top">
    <div class="col-12 col-lg-6 border-right">
      <h2>Documentation</h2>
      <p>The full documentation can be found over there at
        <a href="https://github.com/openordu/ordu-eleventy/blob/main/README.md" class="external-link link-fancy" target="_blank" rel="noopener">Github</a>.</p>
    </div>
    <div class="col-12 col-lg-6 pl-4">
      <h2>Credits</h2>
      <p>Many thanks to 
        Mary Jones for publishing <a href="https://maryjones.us" class="external-link link-fancy" target="_blank" rel="noopener">AKA Mary Jones</a> that got all Celtic Recons and Post-recons through the beginning of their journey.<br/>
        <a href="https://github.com/holger1411" class="external-link link-fancy" target="_blank" rel="noopener">Holger Koenemann</a> for publishing <a href="https://github.com/holger1411/11straps" class="external-link link-fancy" target="_blank" rel="noopener">11straps</a>.<br/>
        Thanks to the <a href="https://www.11ty.dev/" class="external-link link-fancy" target="_blank" rel="noopener">Eleventy</a>
        and the
        <a href="https://www.getbootstrap.com" class="external-link link-fancy" target="_blank" rel="noopener">Bootstrap</a>
        teams.<br/>
    </div>
  </div>
</div>
