---
pagination:
  data: collections.tagList
  size: 1
  alias: tag
  filter:
    - all
    - pce
    - nav
    - post
    - posts
    - docs
    - sortedPosts
    - categoryList
    - tagList
layout: layouts/topic.njk
eleventyComputed:
  title: Tagged `{{ tag.tagName | safe }}`
  shorttitle: '{{ tag.tagName | safe }}'
permalink: /tags/{{ tag.tagName | slugit }}/
---

{% block content %}
  {% set posts = collections[tag.tagName] %}
  {% include 'snippets/tagncatsloop.njk' %}
  <p>See <a href="{{ '/tags/' | url }}" class="inline-flex items-center rounded-full bg-moss px-2 py-0.5 text-xs text-bone">all tags</a>.</p>
{% endblock %}
